{{ define "content" }}
  {{ partial "header.html" }}

  <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 h-feed">
    {{ range .Paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ if gt .Paginator.TotalPages 1 }}
    <section class="m-4 md:mx-0 md:my-8">
      <div class="flex items-center justify-center">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="p-4 b-1 border-gray-600 rounded-md font-bold">Previous</a>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="p-4 b-1 border-gray-600 rounded-md font-bold">Next</a>
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}