<div class="not-prose rounded-md p-8 flex flex-col items-center mt-8 border border-blurple-500">
  <h3 class="text-lg font-bold mb-2 text-center">Thank you for supporting Mastodon</h3>

  <p class="text-md mb-8 text-center">We develop and maintain the free and open source software that powers the social web. There is no capital behind this — we rely entirely on your support.</p>

  <div class="flex flex-col md:flex-row gap-4">
    <a href="https://joinmastodon.org/sponsors#donate" class="flex-0 text-sm items-center justify-center rounded-md border-2 border-blurple-500 bg-blurple-500 py-2 px-4 !font-semibold text-white transition-colors hover:border-blurple-600 hover:bg-blurple-600 flex" data-sa-event="donate_button">Donate to the project</a>
    <a href="https://joinmastodon.org/sponsors" class="flex-0 text-sm items-center justify-center rounded-md border-2 border-blurple-500 py-2 px-4 !font-semibold text-blurple-500 transition-colors hover:border-blurple-600 hover:text-blurple-600 flex" data-sa-event="sponsor_view">View our sponsors</a>
  </div>
</div>
