<!doctype html>
<html ⚡ lang="en">
  <head>
    {{ $.Scratch.Set "output-format" "amp" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    {{ $hero := .Page.Resources.GetMatch "hero" -}}
    {{ if $hero }}{{ if not $hero.Params.resize }}{{ else }}{{ $hero := $hero.Resize "800x" }}{{ end }}<link rel="preload" href="{{ $hero.Permalink }}" as="image">{{ end }}
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="canonical" href="{{ with .OutputFormats.Get "html" -}}{{ .Permalink }}{{- end }}">
    <title>{{ .Page.Title }}</title>
  </head>
  <body>
    <h1>{{ .Page.Title }}</h1>
    {{ if isset .Params "subtitle" }}<h2>{{ .Params.subtitle }}</h2>{{ end }}

    {{ if $hero -}}
    <amp-img src="{{ $hero.Permalink }}"
             width="{{ $hero.Width }}"
             height="{{ $hero.Height }}"
             layout="responsive"
             alt="">
    </amp-img>
    {{- end }}

    {{ .Content }}
  </body>
</html>
