{{/* Used to render all content pages other than the index. */}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    <title>{{ .Page.Title }}{{ if isset .Params "subtitle" }}: {{ .Params.subtitle }}{{ end }} - {{ .Site.Title }}</title>

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <meta name="twitter:card" content="summary_large_image" />

    {{ if isset .Params "hero" }}
      <meta name="og:image" content="{{ .Params.hero }}" />
      <meta name="twitter:image" content="{{ .Params.hero }}" />
    {{ else }}
      {{ $hero := .Page.Resources.GetMatch "hero" }}

      {{ if $hero }}
        {{ $hero := $hero.Resize "1200x" }}

        <meta name="og:image" content="{{ $hero.Permalink }}" />
        <meta name="twitter:image" content="{{ $hero.Permalink }}" />
      {{ end }}
    {{ end }}

    <meta name="twitter:site" content="@MastodonProject" />
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="article h-entry">
      <div class="container">
        <header class="article-header">
          <h1 class="p-name">{{ .Page.Title }}</h1>

          {{ if isset .Params "subtitle" }}
            <h2>{{ .Params.subtitle }}</h2>
          {{ end }}

          {{ if isset .Params "hero" }}
            <div class="image-large">
              <img src="{{ .Params.hero }}" alt="" />
            </div>
          {{ else }}
            {{ $hero := .Page.Resources.GetMatch "hero" }}

            {{ if $hero }}
              {{ if not $hero.Params.resize }}
              {{ else }}
                {{ $hero := $hero.Resize "800x" }}
              {{ end }}

              <div class="image-large">
                <img src="{{ $hero.RelPermalink }}" alt="" />
              </div>
            {{ end }}
          {{ end }}
        </header>

        <main class="e-content">
          {{ .Content }}
          
          <p style="color: #687590;">
            —<span class="p-author h-card">
              {{ if isset .Params "author" }}
                {{ $author := index .Site.Data.authors .Params.author }}
                {{ $author.name }}
              {{ end }}
            </span>,
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
              {{ .Date.Format "Jan 2, 2006" }}
            </time>
          </p>
        </main>

        <footer class="article-footer">
          {{ partial "entry_nav.html" . }}
        </footer>
      </div>
    </div>

    <div class="container">
      {{ partial "cta.html" . }}
    </div>

    <div class="related-articles container">
      {{ partial "related.html" . }}
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
