<a class="cover u-url" href="{{ .RelPermalink }}" rel="bookmark">
  <div class="overlay">
    <h2 class="p-name">{{ .Title }}</h2>
  </div>
</a>

<div class="article-information">
  <div class="author p-author h-card">
    {{ if isset .Params "author" }}
      {{ $author := index .Site.Data.authors .Params.author }}

      <strong>
        {{ $author.name }}
        <span>&nbsp;</span>
        <a href="{{ $author.social.mastodon }}">
          <i class="fab fa-mastodon"></i>
        </a>
      </strong>
    {{ else }}
      Unknown
    {{ end }}
  </div>

  <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
    {{ .Date.Format "Jan 2, 2006" }}
  </time>

  <div class="summary p-summary">{{ .Summary }}</div>
</div>
