{{ if gt ( len ( where .Site.RegularPages "Section" .Section ) ) 1 }}
<nav class='entry-nav'>
  <div class='prev-entry sep-before'>
    {{- if .PrevInSection -}}
      <a href='{{ .PrevInSection.Permalink | relURL }}'>
        <strong><i class="fas fa-chevron-left"></i> Previous</strong>
        {{ .PrevInSection.Title }}
      </a>
    {{- end -}}
  </div>

  <div class='next-entry sep-before'>
    {{- if .NextInSection -}}
      <a href='{{ .NextInSection.Permalink | relURL }}'>
        <strong>Next <i class="fas fa-chevron-right"></i></strong>
        {{ .NextInSection.Title }}
      </a>
    {{- end -}}
  </div>
</nav>
{{ end }}
