<footer class="footer container">
  <div style="display: flex; justify-content: space-between;">
    <p class="legal" style="flex: 0 0 auto;">
      <a href='https://github.com/mastodon/blog/blob/master/content/{{.File.Path}}'>View source</a> · <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a> · <a href='https://joinmastodon.org/imprint'>Imprint</a>
    </p>

    <p class="legal" style="flex: 0 0 auto; text-align: right;">
      <a href='https://joinmastodon.org'>Join Mastodon</a> · <a href='https://mastodon.social/@Mastodon' target='_blank'>{{ partial "svg" "mastodon" }}</a> · <a href='/index.xml' target='_blank'>{{ partial "svg" "rss" }}</a>
    </p>
  </div>
</footer>
