{{/* Common elements for the top of the head tag on all pages. */}}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<link rel='stylesheet' href='/style.css'>
<link rel='stylesheet' href='/fontawesome.css'>

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
{{ end -}}
