@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 100 900;

  src: url("/fonts/manrope-variable.woff2") format("woff2 supports variations"),
    url("/fonts/manrope-variable.woff2") format("woff2-variations");
}

@layer base {
  html {
    font-size: 18px;
    font-variant-ligatures: none;
  }
}

@layer utilities {
  .icon {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.features-list ul {
  padding-left: 0;
}

.features-list ul li {
  list-style: none;
}
