@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 100 900;

  src: url("/fonts/manrope-variable.woff2") format("woff2 supports variations"),
    url("/fonts/manrope-variable.woff2") format("woff2-variations");
}

@layer base {
  html {
    font-size: 18px;
    font-variant-ligatures: none;
  }
}

@layer utilities {
  .icon {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.features-list ul {
  padding-left: 0;
}

.features-list ul li {
  list-style: none;
}

blockquote.warning {
  position: relative;
  background: #fffbeb;
  border-left: 6px solid #f59e0b;
  padding: 0rem 1.5rem 0rem 3rem;
  color: #92400e;
  quotes: none;
  display: flex;
  align-items: flex-start;
}

blockquote.warning::before {
  content: "⚠️";
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

blockquote.info {
  position: relative;
  background: #cdd1ff;
  border-left: 6px solid #858afa;
  padding: 0rem 1.5rem 0rem 3rem;
  color: #563acc;
  quotes: none;
  display: flex;
  align-items: flex-start;
  font-style: normal;
}

blockquote.info::before {
  content: "ℹ️";
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
