<footer class="border-t border-gray-200 pt-10 mt-10 text-gray-600">
  <div class="flex justify-between">
    <p class="flex-0">
      <a class="hover:underline" href='https://joinmastodon.org'>Mastodon</a> · <a class="hover:underline" href='https://github.com/mastodon/blog/blob/master/content/{{.File.Path}}'>View source</a> · <a class="hover:underline" href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a> · <a class="hover:underline" href='https://joinmastodon.org/imprint'>Imprint</a>
    </p>

    <p class="flex-0 justify-end flex gap-x-4 items-center">
      <a class="hover:text-blurple-500" href='https://mastodon.social/@Mastodon' target='_blank'>{{ partial "svg" "mastodon" }}</a>
      <a class="hover:text-blurple-500" href='/index.xml' target='_blank'>{{ partial "svg" "rss" }}</a>
    </p>
  </div>
</footer>
