<form method="post" action="https://newsroom.joinmastodon.org/subscription/form" class="listmonk-form">
  <input id="8b9d9" type="hidden" name="l" value="8b9d90ad-9997-4ef9-92df-c1941a1da492" />

  <h3>✉️ Join the waiting list</h3>
  <p>Get an e-mail when the app launches</p>

  <div class="input-with-button">
    <input type="email" name="email" placeholder="Your e-mail address" required="required" />
    <button type="submit">Join the list</button>
  </div>

  <footer>
    <a href="https://joinmastodon.org/privacy-policy">Privacy policy</a>
  </footer>
</form>
