<form method="post" action="https://newsroom.joinmastodon.org/subscription/form" class="listmonk-form">
  <input type="hidden" name="l" value="{{ .Get 0 }}" />

  <h3>✉️ Join the waiting list</h3>
  <p>Get an e-mail when the app launches</p>

  <div class="input-with-button">
    <input type="email" name="email" placeholder="Your e-mail address" required="required" />
    <button type="submit">Join the list</button>
  </div>

  <footer>
    <a href="https://joinmastodon.org/privacy-policy">Privacy policy</a>
  </footer>
</form>
